body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    background: #2f3136;
    color: white;
}

.box {
    background: #36393f;
    padding: 20px;
    display: inline-block;
    border-radius: 8px;
}